language: objective-c
osx_image: xcode8

before_install:
  - gem install cocoapods --no-rdoc --no-ri --no-document --quiet
  - gem install xcpretty --no-rdoc --no-ri --no-document --quiet

script:
  - set -o pipefail
  - xcodebuild test -workspace GestureRecognizerClosures.xcworkspace -scheme GestureRecognizerClosures -configuration Debug -destination "platform=iOS Simulator,name=iPhone 5,OS=9.0" -destination "platform=iOS Simulator,name=iPhone 7,OS=10.0" ONLY_ACTIVE_ARCH=NO ENABLE_TESTABILITY=YES | xcpretty -c
